.footer {
  background: #B1D6D6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  position: fixed;
  width: 100%;
  bottom: 0px;
}
